.button {
    background-color: rgb(27, 27, 239);
    border: 1px;
    border-bottom: solid 3px black;
    border-radius: 7px;
    border-right: solid 3px black;
    color: white;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
}

.cancelButton {
    background-color: rgb(255, 27, 27);
    border-bottom: solid 3px black;
    border-radius: 7px;
    border-right: solid 3px black;
    color: white;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.container {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(3, 43, 112) 46%, rgba(4,10,23,1) 100%);
    border: 1px #d4d7c8;
    border-bottom: solid 3px black;
    border-radius: 7px;
    border-right: solid 3px black;
    color: white;
    margin: 10px;
    padding: 20px;
    text-align: left;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.formBody {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.formButtons {
    display: flex;
    justify-content: space-around;
}

.formFields {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

.input {
    border: 1px;
    border-radius: 7px;
    border-bottom: solid 3px black;
    border-right: solid 3px black;
    font-size: 23px;
    height: 23px;
    outline: 0;
    padding: 5px;
    width: 100%;
}

.input::placeholder {
    opacity: 0.5;
}

.inputComponent {
    align-items: center;
    display: flex;
    justify-content: center;
}

.inputContainer {
    padding-right: 10px;
}

.inputContainerPercentage {
    width: 75%;
}

.inputErrorSpan {
    text-align: right;
    color: white;
    width: 100%;
}

.inputLabel {
    font-size: 23px;
    margin-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.inputLabelPercentage {
    width: 25%;
}

.modalBackScreen {
    background: rgba(0, 0, 0, 0.9);
    left: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100vw;
}

.saveButton {
    background-color: rgb(10, 199, 10);
    border-bottom: solid 3px black;
    border-radius: 7px;
    border-right: solid 3px black;
    color: white;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
}
