.formButtons {
    display: flex;
}

.formFields {
    display: grid;
    gap: 10px;
    grid-auto-columns: 1fr;    
}

.loginContainer {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}